.flhnode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flvnode {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}